.action-box {
    font-size: 0.875rem;
    color: $brandSecondary;
    border: solid 1px $brandSecondary;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background-color: $brandSecondary;
        border-color: $brandSecondary;
    }
    &.primary {
        border: solid 1px $white;
        color: $white;
        &:hover {
            color: $brandSecondary;
            background-color: $white;
            border-color: $brandSecondary;
        }
    }

    &.secondary {
        border: solid 1px $brandSecondary;
        color: $brandSecondary;
        &:hover {
            color: $white;
            background-color: $brandSecondary;
            border-color: $brandSecondary;
        }
    }
}