* {
    font-family: $fontBase;
    word-break: unset;
    &::selection {
        background: $brandPrimary;
        color: $brandSecondary; 
    }
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: $lightGray;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $brandSecondary;
}

body {
    font-family: $fontBase;
    background-color: $bgColor;
    font-size: $fontSizeBase;
    position: relative;
    color: $brandPrimary;
    line-height: 1.5;
}

html :where(img) {
    height: auto;
    max-width: none;
}


/*common */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $fontBase;
}

p {
    font-family: $fontBase;
    word-break: unset;
}

a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        -ms-transition: all .2s linear;
        transition: all .2s linear;
    }
}

b {
    font-weight: 400;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.3;
    
}

h1 {
    font-size: min(8vw, 3.125rem);
    text-transform: uppercase;
}

h2 {
    font-size: min(8vw, 3.125rem);
    text-transform: uppercase;
}

h3 {
    font-size: min(8vw, 2.5rem);
}

h4 {
    font-size: min(6vw, 1.5rem);
}

h5 {
    font-size: min(8vw, 1rem);
}

h6 {
    font-size: min(8vw, 1rem);
}

.bold {
    font-size: min(4.5vw, 1.25rem);
    
}

.title-wrap {
    font-weight: 500;
    text-transform: uppercase;

}

.box-f {
    padding: 80px 0;
}

.box-r-40 {
    padding-right: 60px;
}

.box-l-40 {
    padding-left: 60px;
}

.list-style {
    margin-bottom: 30px;
    li {
        position: relative;
        padding-left: 25px;
        line-height: 36px;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $brandPrimary;
            position: absolute;
            top: 16px;
            left: 0;
        }
    }
}

.decimal-list {
    list-style-type: decimal;
    margin-left: 1em;
    margin-bottom: 30px;
    li {
        line-height: 36px;
    }
}


/*--- loader ---*/

.no-js .loader-wrapper {
    display: none;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    .loader {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        z-index: 1001;
        background-image: url("#{$img}/preloader.gif");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .preloader_inner {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .loader-section {
        position: fixed;
        top: 0;
        background: $bgColor;
        width: 50%;
        height: 100%;
        z-index: 1000;
        &.section-left {
            left: 0
        }
        &.section-right {
            right: 0;
        }
    }
}

.loaded .loader-wrapper {
    opacity: 0;
    transition: all 0.3s ease-out;
    display: none;
}

.top-borderline {
    position: relative;
    &::before {
        content: '';
        width: 50px;
        height: 3px;
        background-color: $brandSecondary;
        position: absolute;
        left: 0;
        top: -10px;
    }
}

.head-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .title {
        margin: 0;
    }
}

.news-card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    .news-img {
        height: 100%;
        a {
            display: block;
            overflow: hidden;
            height: 100%;
            position: relative;
            background-color: $textPrimary;
            img {
                transition: transform .2s; 
                position: absolute;
                max-height: 100%;
                min-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .news-content {
        padding: 30px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .date {
            font-size: 0.75rem;
            margin-bottom: 15px;
        }
        .title {
            text-transform: none;
            font-weight: 500;
            line-height: 1.2;
            a {
                color: $brandPrimary;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &:hover {
                    color: $brandSecondary;
                }
            }
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .top {
            flex-grow: 1;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
   
            .card-action {
                border-top: solid 2px $brandSecondary;
                padding: 10px 20px 0;
                margin-right: -30px;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    li {
                        a {
                            display: flex;
                            flex-direction: column;
                            color: $brandPrimary;
                            text-align: center;
                            gap: 5px;
                            &:hover {
                                color: $brandSecondary;
                            }
                            i {
                                font-size: 1.25rem;
                            }
                            span {
                                font-size: 0.7rem;
                            }
                            &.checked {
                                color: $brandSecondary;
                                .fi-like {
                                    &::before {
                                        content: "\e906";
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    &:hover {
        .news-img {
            a {
                img {
                    transform:  translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }

}

.event-card  {
    background-color: $white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0 $black01;
    .event-img {
        a {
            display: block;
            overflow: hidden;
            img {
                width: 100%;
                transition: transform .2s; 
            }
        }
    }

    .event-content {
        padding: 30px;
        .title {
            text-transform: none;
            min-height: 48px;
            margin: 0;
            a {
                color: $brandPrimary;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &:hover {
                    color: $brandSecondary;
                }
            }
        }


        .bottom {
            margin-top: 15px;
            .event-useful {
                display: flex;
                align-items: center;
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    flex-grow: 1;
                    i {
                        color: $brandSecondary;
                        font-size: 1.25rem;
                    }
                    span {
                        color: $brandPrimary;
                    }
                }
            }


   
            .action-wrap {
                margin-top: 20px;
            }
        }
    }

    &:hover {
        .event-img {
            a {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.page-head {
    background-color: $brandPrimary;
    color: $white;
    padding: 40px 0;
    .breadcrumbs-wrap {
        margin-bottom: 40px;
    }
    .main-title {
        margin: 0;
    }
}

.generic-content-box {
   padding: 60px 0;
}
.img-item-box-2 {
    background-color: $white;
    height: 100%;
    .img-box {
        width: 100%;
        display: block;
        height: 280px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .2s; 
        }
    }
    .content {
        padding: 30px;
        display: flex;
        flex-direction: column;
        .title {
            line-height: 1.2;
            flex-grow: 1;
            a {
                color: $brandPrimary;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &:hover {
                    color: $brandSecondary
                }
            }
        }
        .action-link {
            margin-top: 20px;
        }
    }
    &:hover {

        .img-box {
            img {
                transform:  scale(1.1);
            }
        }
    }
}

.breadcrumbs-wrap {
    ul {
        display: flex;
        align-items: center;
        gap: 30px;
        li {
            color: $white05;
        }
        a {
            color: $white;
            position: relative;
            display: flex;
            &:hover {
                color: $brandSecondary;
            }
            &::after {
                content: "\e902";
                font-family: $FiconsFontFamily;
                font-size: 0.7rem;
                position: absolute;
                right: -20px;
                top: 50%;
                color: $white;
                transform: translateY(-50%);
            }
        }
    }
}

//Pagination
.pagination-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    .list-item {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            color: $brandSecondary;

            &:hover {
                color: $brandPrimary;
            }
        }

        .control {
            a {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        .page-number {
            margin: 0 20px;
        }
    }


}

@media screen and (max-width: 991px) {
    .box-f {
        padding: 40px 0;
    }
    .box-r-40 {
        padding-right: 0px;
    }
    .box-l-40 {
        padding-left: 0px;
    }

    .news-card {
        height: auto;
        .news-content {
            padding: 20px;

    
            .bottom {
                .card-action {
                    margin-right: -20px;
                }
            }
        }
    
    }

    .event-card  {
        .event-content {
            padding: 20px;
        }
    }

    .generic-content-box {
        padding: 40px 0;
     }
     .img-item-box-2 {
         .img-box {
             height: 250px;
         }
         .content {
             padding: 20px;

         }
     
     }

    //Pagination
    .pagination-wrapper {
        flex-direction: column;
        margin-top: 30px;

        .list-item {
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width:767px) {
    .head-top {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
}