$img: '../images';
$ficonsFontPath: "../fonts";
$FiconsFontFamily: 'ficons';

$fontBase: 'Helvetica Neue';
$fontBaseRtl: 'Bahij TheSansArabic Plain';

$fontSizeBase: 16px; 

$brandPrimary: #013764;
$brandSecondary:#E04403;
$brandTertiary: #DBE2E8;


$textPrimary: #ADC9F0;

$lightGray: #F4F5F7;
$lightGrayV2: #D0CDCD;

$bgColor:#E2E7EB;
$white: #FFFFFF;
$black: #000000;

$lightBlue: #1F8CEF;

$bordeBlueOne: #649FD0;

$facebook: #3b5998;
$linkedin: #0A66C2;
$twitter: #00acee;
$youtube: #FF0000;

:root {
    --text-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

$brandPrimary01: rgba(1, 56, 101, 0.1);
$brandPrimary02: rgba(1, 56, 101, 0.2);
$brandPrimary03: rgba(1, 56, 101, 0.3);
$brandPrimary04: rgba(1, 56, 101, 0.4);
$brandPrimary05: rgba(1, 56, 101, 0.5);
$brandPrimary06: rgba(1, 56, 101, 0.6);
$brandPrimary07: rgba(1, 56, 101, 0.7);
$brandPrimary08: rgba(1, 56, 101, 0.8);
$brandPrimary09: rgba(1, 56, 101, 0.9);

$brandSecondary01: rgba(224, 68, 3, 0.1);
$brandSecondary02: rgba(224, 68, 3, 0.2);
$brandSecondary03: rgba(224, 68, 3, 0.3);
$brandSecondary04: rgba(224, 68, 3, 0.4);
$brandSecondary05: rgba(224, 68, 3, 0.5);
$brandSecondary06: rgba(224, 68, 3, 0.6);
$brandSecondary07: rgba(224, 68, 3, 0.7);
$brandSecondary08: rgba(224, 68, 3, 0.8);
$brandSecondary09: rgba(224, 68, 3, 0.9);

$black01: rgba(0, 0, 0, 0.1); 
$black02: rgba(0, 0, 0, 0.2);
$black03: rgba(0, 0, 0, 0.3);
$black04: rgba(0, 0, 0, 0.4);
$black05: rgba(0, 0, 0, 0.5);


$white01: rgba(255, 255, 255, 0.1);
$white02: rgba(255, 255, 255, 0.2);
$white03: rgba(255, 255, 255, 0.3);
$white04: rgba(255, 255, 255, 0.4);
$white05: rgba(255, 255, 255, 0.5);

