.sub-page {


    h1 {
        font-size: 4rem;

    }
    h2 {
        font-size: 3rem;

    }
    h3 {
        font-size: 2.2em;
      
    }


    a {
        color: $brandSecondary;
        &:hover {
            color: $brandPrimary;
        }
    }
}

.sub-page, .static-page {
    .page-content {
        padding: 60px 0;
    }

    a {
        color: $brandSecondary;
        &:hover {
            color: $brandPrimary;
        }
        &.action-box {
            &:hover {
                color: $white;
            }
        }
    }
}

.static-page {
    .contact-sec {
     
        .contact-content {
            padding: 60px 0;
            .first-sec {
                background-color: $white;
                padding: 60px ;

                .address-box-wrap {
                    .listed {
                        li {
                            display: flex;
                            margin-bottom: 20px;
                            font-size: 1.125rem;
                            .left {
                                width: 30%;
                            }
                        }
                    }

                    .social-media {
                        margin-top: 30px;
                        ul {
                            display: flex;
                            align-items: center;
                            gap: 30px;
                            li {
                                a {
                                    font-size: 1rem;
                                    color: $black;
                                    &:hover {
                                        color: $brandSecondary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .news-sec {
        padding: 0;
        .news-details {
            .details-card {
                background-color: $white;
                display: flex;
                flex-direction: column;
                .news-img {
                    height: 550px;
                    overflow: hidden;
                    position: relative;
                    background-color: $textPrimary;
                    display: flex;
                    img {
                        max-height: 100%;
                        display: block;
                        margin: 0px auto;
                    }
         
            }
                .news-content {
                    padding: 30px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    .date {
                        font-size: 0.75rem;
                        margin-bottom: 15px;
                    }
                    .title {
                        text-transform: none;
                        color: $brandPrimary;
                    }

                    .bottom {
                        margin-top: 40px;
               
                        .card-action {
                            ul {
                                display: flex;
                                align-items: center;
                                gap: 30px;
                                li {
                                    a {
                                        display: flex;
                                        flex-direction: column;
                                        color: $brandPrimary;
                                        text-align: center;
                                        gap: 5px;
                                        &:hover {
                                            color: $brandSecondary;
                                        }
                                        i {
                                            font-size: 1.25rem;
                                        }
                                        span {
                                            font-size: 0.7rem;
                                        }
                                        &.checked {
                                            color: $brandSecondary;
                                            .fi-like {
                                                &::before {
                                                    content: "\e906";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
            
                        }
                    }
                }
            }

        }

        .news-card {
            .news-img {
                height: 290px;
            }
        
        }
    }

    .dc-strategy {

        .strategy-wrap {

            .strategy-content {

                .strategy-list {
                    li {
                        font-size: 1.125rem;
                        border-bottom: solid 1px $brandSecondary;
                        padding: 15px 0;
                        font-weight: 500;
                    }
                }
      
            }
        }
    }
    
    .dc-chairman {
        position: relative;
        border-bottom: solid 1px $white;
        .chairman-wrap {
            display: flex;
            justify-content: space-between;
            .chairman-content {
                width: 50%;
                .title-wrap {
                    max-width: 510px;
                }
                p {
                    &.bold {
                        margin: 40px 0 60px 0;
                        font-weight: 500;
                        font-weight: 1.125rem;
                    }
                }
                .chairman-info {
                    .name {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .chairman-img {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            img {
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    
    .dc-members {
        .members-wrap {
            .members-content {
                min-height: 450px;
                &.content-wrap {
                    .top-borderline {
                        margin-top: 40px;
                        font-weight: 1.125rem;
                        font-weight: 500;
                        margin-bottom: 0; 
                    }
                }
            }
        }
    }
    
    .dc-board-members {
        position: relative;
        border-bottom: solid 1px $white;
        .board-members-wrap {
            display: flex;
            justify-content: flex-end;
            .board-members-content {
                width: 50%;
                .board-members-list {
                    li {
                        border-bottom: solid 1px $brandPrimary;
                        padding: 10px 0;
                        font-size: 1.125rem;
                    }
                }
                .more-member {
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        max-width: 470px;
                        font-size: 0.875rem;
                        margin: 0;
                    }
                    .action-box {
                        height: 52px;
                    }
                }
            }
        }
        .member-img {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            img {
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


@media screen and (max-width: 991px) {

    .static-page {



        .contact-sec {
            
      
            .contact-content {
                padding: 30px 0;
                min-height: auto;
                .first-sec {
                    background-color: $white;
                    padding: 10px 30px ;
    
                    .address-box-wrap {
                        margin: 20px 0;
                    }
                }
            }
        }



        .dc-chairman {
            .chairman-wrap {
                flex-direction: column;
                .chairman-content {
                    width: 100%;
                }
            }
            .chairman-img {
                width: 100%;
                height: auto;
                position: relative;
                display: flex;
                justify-content: flex-end;
                img {
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: none;
                    width: calc(100% + -10%);
                    min-width: auto;
                    min-height: auto;
                }
            }
        }

        .dc-board-members {
            .board-members-wrap {
                flex-direction: column;
                justify-content: flex-start;
                .board-members-content {
                    width: 100%;
                }
            }
            .member-img {
                width: 100%;
                height: auto;
                position: relative;
                top: auto;
                left: auto;
                display: flex;
                justify-content: flex-end;
                img {
                    min-width: auto;
                    min-height: auto;
                    position: relative;
                    left: auto;
                    top: auto;
                    width: calc(100% + -10%);
                    transform: none;
                }
            }
        }

        .news-sec {

            .news-details {
                .details-card {
                    .news-img {
                        height:auto;
                        img {
                            max-height: none;
                            width: 100%;
                        }
                 
                    }
  
                }
    
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .static-page {

        .dc-board-members {
            .board-members-wrap {
                .board-members-content {
                    .more-member {
                        flex-direction: column;
                        align-items: flex-start;
                        p {
                            max-width: none;
                            margin-bottom: 10px;
                        }
                        .action-box {
                            height: 52px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .static-page {
        .contact-sec {
            .contact-content {
                .first-sec {
                    .address-box-wrap {
                        .listed {
                            li {
                                display: block;
                                margin-bottom: 20px;
                                font-size: 1.125rem;
                                .left {
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .static-page {
        .dc-chairman {
            .chairman-img {
                img {
                    width: calc(100% + -15px);
                }
            }
        }
        .dc-board-members {
            .member-img {
                img {
                    width: calc(100% + -15px);
                }
            }
        }
    }
}